include ../helpers/mixins
block variables

doctype html
html(lang="en-US")
	head
		if isSuccess 
			//- Global site tag (gtag.js) - Google Analytics
			script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-B4WKNM4HKG')
			script.
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());
				gtag('config', 'G-B4WKNM4HKG');

			//- Google Tag Manager
			script.
				(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
				new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
				j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
				'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
				})(window,document,'script','dataLayer','GTM-NCBPN8G');
			//- End Google Tag Manager

		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->

		base(href='https://homemate.expert/roofing/')

		link(rel="icon", type="image/png", href="./static/images/common/favicon.png")
		meta(name='viewport' content='width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,height=device-height')
		meta(name="description", content="")
		meta(name="keywords" content="")

		if isSuccess 
			script.
				!function (w, d, t) {
				w.TiktokAnalyticsObject=t;var ttq=w[t]=w[t]||[];ttq.methods=["page","track","identify","instances","debug","on","off","once","ready","alias","group","enableCookie","disableCookie"],ttq.setAndDefer=function(t,e){t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var i=0;i<ttq.methods.length;i++)ttq.setAndDefer(ttq,ttq.methods[i]);ttq.instance=function(t){for(var e=ttq._i[t]||[],n=0;n<ttq.methods.length;n++)ttq.setAndDefer(e,ttq.methods[n]);return e},ttq.load=function(e,n){var i="https://analytics.tiktok.com/i18n/pixel/events.js";ttq._i=ttq._i||{},ttq._i[e]=[],ttq._i[e]._u=i,ttq._t=ttq._t||{},ttq._t[e]=+new Date,ttq._o=ttq._o||{},ttq._o[e]=n||{};var o=document.createElement("script");o.type="text/javascript",o.async=!0,o.src=i+"?sdkid="+e+"&lib="+t;var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(o,a)};
				ttq.load('C9KH6VRC77UD01Q8H0L0');
				ttq.page();
				}(window, document, 'ttq');
			

			//- Meta Pixel Code
			script.
				let url_string = window.location.href;
				let url = new URL(url_string);
				let fbpixel = url.searchParams.get("pixel");

				if (fbpixel) localStorage.setItem('pixel', fbpixel);
				else if (!fbpixel && localStorage.getItem('pixel')) fbpixel = localStorage.getItem('pixel');
				else fbpixel = null;

				!function(f,b,e,v,n,t,s)
				{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
					n.callMethod.apply(n,arguments):n.queue.push(arguments)};
					if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
					n.queue=[];t=b.createElement(e);t.async=!0;
					t.src=v;s=b.getElementsByTagName(e)[0];
					s.parentNode.insertBefore(t,s)}(window,document,'script',
					'https://connect.facebook.net/en_US/fbevents.js');
					if (fbpixel) fbq('init',  fbpixel);
					fbq('init', '796016551381179');

					fbq('track', 'PageView');
					localStorage.removeItem('pixel');

			//- Meta Pixel Code End
		
		link(rel="stylesheet" type='text/css' href="static/css/policy.css")
		link(rel='preconnect' href='https://fonts.googleapis.com')
		link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
		link(href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap' rel='stylesheet')

		
	body
		if isSuccess 
			script.
				ttq.track('CompleteRegistration')

			//- Google Tag Manager (noscript)
			noscript
				iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-NCBPN8G' height='0' width='0' style='display:none;visibility:hidden')
			//- End Google Tag Manager (noscript)
			
			//- Meta Pixel Code
			script.
				fbq('track', 'CompleteRegistration');
				fbq('track', 'Lead');
			//- Meta Pixel Code End
			

		block content


		script(src="static/js/libs.js")
		block script
		



